{% extends "base.html" %}
{% block title %}Cards{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Benefits of a to do list</h2>
    
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text"><h3>Task Organization</h3><br>
                        They help break down big goals into smaller, actionable tasks. 
                        This keeps you focused and clear on what needs to be done.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text"><h3>Time Management</h3> <br>
                        To-do lists help prioritize and schedule tasks effectively. 
                        You know what to tackle first and avoid wasting time..</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text"><h3>Reduces Mental Clutter</h3> 
                        Instead of juggling everything in your head, you offload tasks onto a list.
                         This reduces stress and frees up mental energy.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text"><h3>Motivation & Momentum</h3> 
                        Checking off tasks feels rewarding.
                         That little boost keeps you going, especially when you're stuck or overwhelmed.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text"><h3>Team Collaboration</h3> 
                        In team settings (especially in project management), 
                        shared to-do lists help assign tasks and track progress..</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text"><h3>Build Habits & Routines</h3> 
                        You can use daily/weekly to-do lists to build and 
                        reinforce healthy habits — from studying to fitness to budgeting..</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
